.resourceLinker {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

.resourceLinkerInner {
    flex: 1 1 auto;
    height: 100%;
    
    @media screen and (max-width: 767px) {
        overflow: auto;
    }
}

.wrapperCol {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    position: relative;
}

.spinner {
    flex: 1 1 auto;
    height: 60px;
}

.emptyStateIcon {
    color: rgba(0,0,0,.3);
    display: inline-block;
    font-size: 50px;
    margin-bottom: 20px;
}

.lightGryLabel {
    font-size: 12px;
    color: #aaa;
}

.linkerHeader {
    border-bottom: 1px solid rgba(0,0,0,.07);

    .growerInfo {
        flex: 1 1 auto;
    }

    .cropYearPicker {
        background-color: rgba(45, 100, 179, .05);
        border: 1px solid rgba(45, 100, 179, .15);
        flex: 0 0 auto;
        font-size: 14px;
    }
}

.linkerBody {
    flex: 1 1 auto;

    .unlinkedList {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        width: 100%;

        .productList {
            flex: 1 0 auto;
            height: 1px;
            overflow: auto;

            @media screen and (max-width: 767px) {
                flex: 1 1 auto;
                height: initial;
                overflow: initial;
            }
        }
    }

    .actionPanel {
        padding: 1em;
        bottom: 0;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 0;
        z-index: 2;
        
        @media screen and (max-width: 767px) {
            padding: 0;
            margin-top: 0;
            opacity: 0;
            overflow: auto;
            position: fixed;
            transition:
                transform .5s cubic-bezier(0.23, 1, 0.32, 1),
                opacity .5s cubic-bezier(0.23, 1, 0.32, 1);
            transform: translateX(100%);
            z-index: 10;
        }
    }

    .actionPanel.modActive {
        opacity: 1;
        transform: translateX(0);
    }

    .actionPanelCard {

        flex: 1 1 auto;
        margin: 0;

        .emptyStateWrapper {
            margin: 100px auto 0;
            width: 75%;
        }

        @media screen and (max-width: 767px) {
            margin-top: 0;
        }
    }
}

.greenText {
    color: #28a170;
}

.toBeLinked {
    max-height: 200px;
    overflow: auto;
}

.confirmationLinkList {
    background-color: rgba(0,0,0,.05);
}

.confirmationLinks {
    padding: 5px 0;
    vertical-align: -2px;
}

.linkArrow {
    margin: 0 10px;
    vertical-align: -2px;
}

.linkerFooter {
    background-color: #fff;
    box-shadow: 0 -1px 15px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    flex: 0 0 auto;
    z-index: 5;

    .footerActions {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
    }
}