.unlinkedCard {
    border-color: transparent transparent transparent #a3a3a3 !important;
    border-width: 1px 1px 1px 5px !important;
    border-style: solid !important;
    cursor: pointer;
    margin-top: 0;
    transition: border .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    user-select: none;

    & + .unlinkedCard {
        margin-top: 1rem;
    }

    .unlinkedCardHeader {
        display: flex;
        justify-content: space-between;
    }

    .na {
        color: #aaa;
    }

    .linkedStatus {
        color:#aaa;
        flex: 0 0 auto;
        font-size: 12px;
        letter-spacing: .01rem;
        text-align: right;
    }

    .productName {
        flex: 1 1 auto;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .cardInfo {
        display: flex;
        flex-wrap: wrap;

        .infoItem {
            flex: 1 1 auto;
            padding-bottom: 10px;
            width: 50%;
        }
    }

    &:hover {
        border-color: #a3a3a3 !important;
        border-width: 1px 1px 1px 5px !important;
        border-style: solid !important;
    }
}

.emptyStateIcon {
    color: rgba(0,0,0,.3);
    display: inline-block;
    font-size: 50px;
    margin-bottom: 20px;
}

.lightGryLabel {
    color: #aaa;
    font-size: 12px;
    padding-right: 10px;
}

.unlinkedCard.modSelected {
    border-color: #2d64b3 !important;
}

.unlinkedCard.modLinked {
    border-color: transparent transparent transparent #28a170 !important;

    &:hover {
        border-color: #28a170 !important;
    }

    .linkedStatus {
        color: #28a170;
    }
}

.unlinkedCard.modLinked.modSelected {
    border-color: #28a170 !important;
}