.agstudio-not-found-card {

  background: #24344c !important;

  > div {

    max-width: 480px;
    min-width: 280px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;

    h1, h3 {
      color: #fff
    }

    a {
      text-decoration: none
    }

    h1 {
      text-align: center;
      font-size: 100px;
      margin-bottom: 0;
      font-weight: 800;
    }

    h3 {
      text-align: center;
      font-size: 19px;
      line-height: 23px;
      max-width: 330px;
      margin: 0 auto 30px auto;
      font-weight: 400;
    }

    > .astronaut {
      width: 43px;
      position: absolute;
      right: 20px;
      top: 210px;
      animation: spin 4.5s infinite linear;
    }

    > .stars {
      animation: sparkle 1.6s infinite ease-in-out alternate
    }

  }

}

@media (max-width: 600px) {

  .agstudio-not-found-card {

    > div {

      h1 {
        font-size: 75px
      }

      h3 {

        font-size: 16px;
        width: 200px;
        margin: 0 auto;
        line-height: 23px;

        span {
          width: 60px
        }

      }

      > .astronaut {
        width: 35px;
        right: 40px;
        top: 170px;
      }

    }

  }

}

@keyframes sparkle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}